* { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #2C2D35;
}

body{
    font-family: 'Raleway', sans-serif;
    color: #2C2D35;
}

.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}


.header{
    padding-top: 28px;
    padding-bottom: 28px;
    background-color: #E1EDE6;
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left{
    padding-left: 15px;
}

.header__right{
    width: 470px;
}

.header_nav{
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: space-around;
}

.main{
    display: flex;
}

.main__right{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.main__title{
    width: 540px;
    font-size: 60px;
    font-weight: 500;
    padding-top: 130px;
    padding-bottom: 24px;
}

.main__title_color{
    font-size: 60px;
    font-weight: 500;
    color: #598D66;
}

.main__description{
    width: 540px;
    font-size: 18px;
    font-weight: 500;
    color: #86928B;
    padding-bottom: 70px;
}

.main__btn{
    width: 227px;
    height: 65px;
    background: transparent;
    border: 1px solid;
    border-color: #598D66;
    color: #598D66;
    text-align: center;
    font-size: 20px;
}