* { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #2C2D35;
}

body{
    font-family: 'Raleway', sans-serif;
    color: #2C2D35;
}

.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header{
    padding-top: 28px;
    padding-bottom: 28px;
    background-color: #E1EDE6;
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left{
    padding-left: 15px;
}

.header__right{
    width: 470px;
}

.header_nav{
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: space-around;
}

.main{
    display: flex;
}

.main__right{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.main__title{
    width: 540px;
    font-size: 60px;
    font-weight: 500;
    padding-top: 130px;
    padding-bottom: 24px;
}

.main__title_color{
    font-size: 60px;
    font-weight: 500;
    color: #598D66;
}

.main__description{
    width: 540px;
    font-size: 18px;
    font-weight: 500;
    color: #86928B;
    padding-bottom: 70px;
}

.main__btn{
    width: 227px;
    height: 65px;
    background: transparent;
    border: 1px solid;
    border-color: #598D66;
    color: #598D66;
    text-align: center;
    font-size: 20px;
}

.catalog__menu{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.catalog__title{
    font-size: 40px;
    font-weight: 500;
}

.menu__btns-sort{
    width: 433px;
    display: flex;
    justify-content: space-between;
}

.btn-country{
    width: 126px;
    height: 43px;
    background-color: #D4E8D9;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
    
}

.catalog__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.catalog__item{
    background-color: #E1EDE6;
    padding: 30px 30px 50px 30px;
}

.catalog__item img {
  width: 100%;
  display: block;
}

.catalog__btn_cart{
    background: transparent;
    width: 100%;
    height: 65px;
    border-color: #598D66;
    border: 1px solid;
    color: #598D66;
    font-size: 20px;
    font-weight: 500;
}

.catalog__description{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
}

.catalog__name-artist{
    font-size: 18px;
    color: #86928B;
}

.catalog__name-picture{
    font-size: 30px;
    font-weight: 500;
}

.catalog__description-material{
    font-size: 18px;
}

.catalog__price{
    font-size: 24px;
    color: #598D66;
    padding-top: 10px;
    padding-bottom: 15px;
}

